* {
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    /* font-size: 2.375rem; */
    /* line-height: 1.1; */
}

.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.d-flex {
    display: flex;
}

.image-container img {
    width: 340.77px;
    height: 340.77px;
    padding-left: 16px;
    padding-right: 16px;
}

.headerT {
    padding-left: 16px;
    margin-bottom: 3vh;
    font-size: 2.375rem;
}

/* .twp {
    width: 25%;
} */